.productsFrame {
    position: relative;
    display:flex;
    flex-direction: column;
    gap:16px;
}

.noResults {
    padding-top:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 40px;
}

.noResults img{
    width: 60%;
    opacity: 0.5;
}