.productCont {
    position: relative;
    width: calc(50% - 8px);
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 12px;
    box-shadow: var(--Normal_shadow);
    transition: 0.3s;
}

.productCont:active {
    box-shadow: none;
}

.productCont img {
    width:58%; height: 58%;
    object-fit: contain;
    border-radius: 8px;
}

.productCont p {
    text-align: center;
    line-height: 18px;
    word-break: break-word;
    display: -webkit-box;        /* Establish a flex container */
    -webkit-box-orient: vertical; /* Set the box orientation to vertical */
    -webkit-line-clamp: 2;        /* Limit the text to 2 lines */
    overflow: hidden; 
}

.heartButton{
    position: absolute;
    top:8px; right:8px;
}