.headerCont {
    display: flex;
    align-items: center;
    gap: 8px;
}

.window {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    background: white;
    border-radius: 12px;
    box-shadow: var(--Normal_shadow);
    overflow: hidden;
    transition: 0.3s;
}

.window_hidden {
    padding: 0 16px !important;
    max-height: 0 !important;
}

.window input, .window select {
    width:100%;
    border:1px solid var(--borderClr) !important
}

.window .notes {
    font-size: 12px;
    color:#AEAEAE;
}

.continueButton {
    position: fixed;
    bottom: 73px;
    width: calc(100% - 32px);
}


/*--------------------------------------------------*/
.mainCont {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}


/*--------------------------------------------------*/

.paymentMethodCont {
    display: flex;
    gap:8px;
    align-items: center;
}

.paymentMethodCont > div{
    display: flex;
    gap:8px;
    align-items: center;
    border-radius: 12px;
    padding: 8px 12px;
    transition: 0.5s;
}

.paymentMethodCont .selected{
    background: white;
    box-shadow: var(--Normal_shadow);
}

.orderDetails {
    display: flex;
    flex-direction: column;
    gap:24px;
    font-weight: 500;
}




/*-------------------------------------------*/

.blackBackground {
    position: fixed;
    top: 0; left:0;
    z-index: 2;
    width: 100dvw;
    height: 100dvh;
    background: #0005;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.thanksCont {
    position: relative;
    width:100%;
    background: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    border-radius: 16px;
}