.mainCont {
  position: relative;
  width: 100%;
  height: 96px;
  background-color: white;
  border-radius: 2px 12px 12px 12px;
  display: flex;
  align-items: center;
  gap:16px;
  padding: 8px;
  box-shadow: var(--Normal_shadow);
}

.mainCont img {
  width:27%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.infoCont {
  position: relative;
  flex:1;
  display: flex;
  flex-direction: column;
  gap:8px
}

.title {
  font-size: 14px;
  color:#4E4E4E;
  line-height: 18px;
  display: -webkit-box;        /* Establish a flex container */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  -webkit-line-clamp: 2;        /* Limit the text to 2 lines */
  overflow: hidden; 
}

.downPart {
  position: relative;
  display: flex;
  width:100%;
  justify-content: space-between;
  align-items: end;
}

.priceMainCont {
  display: flex;
  align-items: center;
  gap: 8px;
}

.priceCont {
  display:flex;
  align-items: flex-start;
}

.priceCont span {
  font-size: 8px;
  font-weight: 600;
  padding-top: 2px;
}

.priceCont p {
  font-size: 14px;
  font-weight: 600;
}

.discount {
  display: flex;
  gap:4px;
  align-items: center;
  color:var(--DiscountClr);
  font-size: 12px;
}